<div class="about-section paddingTB60 gray-bg pt-7">
  <div class="container">
      <div class="row">
<div class="col-md-7 col-sm-6">
<div class="about-title clearfix">
  <div class="col-md-12">
    <h4 class="pt-3">About KartikCreation</h4>
  <hr>
</div>
  <p class="about-paddingB"><b>Kartik Creation </b>Founded by Rahul Jaiswal who is a one of the best manufacturer seller in this market. In 2017 we started our journey. During this period they have increase their production not only in Mumbai but also in Chennia, Bangalore, Surat , Rajkot,etc.</p>
  <p>We are manufacturer of saree, leggings and palazzo.Since 4 years we have been specialist in printing silk saree, cotton saree, pattola saree,etc.</p>
  <p>In leggings we have many variety such as ankle fit. pencil fit,etc. and in palazzo we have Rayonplain, Rayon Chicken and many more.</p>
  <p>We have managed to fulfill all needs by their creative designs and cost cutting.</p>

</div>
</div>
<div class="col-md-5 col-sm-6">
<div class="about-img pt-5">
  <img src="assets/images/KC_Card1.jpg" class="img-responsive" style="width:100%;" alt="KartikCreation">
</div>
</div>	
      </div>
  </div>
</div>