
<!--footer starts from here-->
<footer class="footer">
  <div class="container bottom_border">
  <div class="row">
  <div class=" col-sm-4 col-md col-sm-4  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
  <!--headin5_amrc-->
  <p class="mb10">Shop No.13 Kartik Creation,</p>
  <p class="mb10">Deep Residency, Sai Nath Nagar,</p>
  <p><i class="fa fa-location-arrow"></i> Nallasopara East, 401209</p> 
  </div>
  
  
  <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Contact Us</h5>
  
    <p><i class="fa fa-phone"></i> +91 9503641681 </p>
    <p><i class="fa fa-phone"></i> +91 8830731229 </p>
   
    </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Email Us</h5>

    <p><i class="fa fa fa-envelope"></i> kartikcreation41@gmail.com  </p>
  </div>
  

  </div>
  </div>
  
  
  <div class="container">

  <!--foote_bottom_ul_amrc ends here-->
  <p class="text-center pt-2 pb-2 m-0">Copyright @2019 | Designed With by <a href="#">Suraj Jaiswal and Hetal Divecha</a></p>
  
  <!-- <ul class="social_footer_ul">
  <li><a href="http://kalarikendramdelhi.com"><i class="fab fa-facebook-f"></i></a></li>
  <li><a href="http://kalarikendramdelhi.com"><i class="fab fa-twitter"></i></a></li>
  <li><a href="http://kalarikendramdelhi.com"><i class="fab fa-linkedin"></i></a></li>
  <li><a href="http://kalarikendramdelhi.com"><i class="fab fa-instagram"></i></a></li>
  </ul> -->
  <!--social_footer_ul ends here-->
  </div>
  
  </footer>
  